
/* Color Theme Swatches in Hex */
$Advance-Digital-ERP---Brand-Identity-1-hex: #D91A73;
$Advance-Digital-ERP---Brand-Identity-2-hex: #025E73;
$Advance-Digital-ERP---Brand-Identity-3-hex: #04D9D9;
$Advance-Digital-ERP---Brand-Identity-4-hex: #F2CD13;
$Advance-Digital-ERP---Brand-Identity-5-hex: #F2BB16;



a {
    color: $Advance-Digital-ERP---Brand-Identity-1-hex;
}
